<!DOCTYPE html>
<html lang="eng" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title><%=title%> </title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
    </head>
    
<body>
    
        
    
    <div>
        <h3 style="text-align: center; background-color: burlywood;"><%= message%></h3>
    </div>
        
    <div class="contact-info">
        <p class="h3" style="text-decoration: underline; font-weight: bold;">Hit Info Cards:</p>
        <div class ="card card1">
            <p>Developer</p>
            <i class="card-icon far fa-user"></i>
            <p>Bishal Bista</p>
            <p>b3hal9@gmail.com</p>
        </div>
        <div class ="card card2">
            <p>Manager</p>
            <i class="card-icon far fa-user"></i>
            <p>Arash Thapa
            </p>
            <p>Xettriaarash@gmail.com</p>
        </div>
        <div class ="card card3">
            <p>Bishal: 9819002073 <br/>
                Arash: 9813127066
            </p>
            
            <i class="card-icon fas fa-phone"></i>
            <br/>
            <p></p>
            
        </div>
        <!-- <div class ="card">
            <i class="card-icon fas fa-map-marker-alt">
            </i>
            <p>Itahari-3, Nepal</p> -->
        </div>
        <a href="/"><button class="btn btn-primary">Back</button></a>
    </div>


        

</body>
</html>