<!DOCTYPE html>
<html lang="eng" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title><%=title%> </title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
    </head>
<body>
    
        
    
    
        
    <div class="contact-info">
        <h2 style="text-align: center; background-color: burlywood;"><%=message%></h2>
        <br/>
        <p style="text-decoration: underline;">About Me:</p>
        <br/>
        <div class ="card">
            
            <i class="card-icon far fa-envelope"></i>
            <p>Bishal Bista</p>
            <p>b3hal9@gmail.com</p>
        </div>
        <div class ="card">
            <i class="card-icon fas fa-phone"></i>
            <p>+9779817331896</p>
        </div>
        <div class ="card">
            <i class="card-icon fas fa-map-marker-alt">
            </i>
            <p>Itahari-3, Nepal</p>
        </div>
        <br />
        <a href="/"><button class="btn btn-primary">Back</button></a>
    </div>


        

</body>
</html>