<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Our Terms</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    
    <style>
      .txt{
        text-align: justify;
      }
   .link{
       margin-right: 25px;
   }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-white" style="border: 2px solid black;">
        <a class="navbar-brand text-dark" style="font-weight: bold; margin-right: 30px;">Godawari Hackathon</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="link"  href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="link " href="/rules">Rules</a>
            </li>
            <li class="nav-item">
              <a class="link" href="/about">About Us</a>
            </li>
            
          </ul>
        </div>
      </nav>
    
          
               
                <div class="card"  style="align-items: center;">
                 <div class="card-header text-center text-dark bg-transparent"><p class="h3" style="text-decoration: underline ;font-weight: bold;">About Hackathon:</p></div>
                 <div class="card-body bg-dark text-white">
                     <p class="txt">Godawari hackthon 2020 is an open code challenge for those who is interested in computer programming , loves to learn and build cool stuff , as well as to show their skill and gain some experience, which is being organized by the Bsc.CSIT students of batch 2074 of Godawari college in collaboration  with the college administration(Sushma GOdawari College, Itahari, Sunsari).
                      Any interested participants from our college can apply. Please join us in this lovely effort so that we keep on organising such events to open a totally new platform for all loving, inspiring and innovating students. With all the love and support of yours, we may bring various Hackathon events and Bootcamps to our college for your benefits. Winners will be rewarded with some Gifts and certificates along with prize money up to 10k.
                      The time and data will be published later on our official facebook page  https://www.facebook.com/godawarihackathon.

                      

                     </p>
                     <h4 style="text-decoration: underline;">Here are some rules to Follow :</h4>
                     <ol>
                         <li>Candidates should be a student of Sushma Godawari College.</li>
                         <li>You will be disqualified for Multiple Registration.</li>
                         <li>Incase of Form Error or wrong data contact administration.</li>
                         <li>Candidates can Join as a Group of 3 members.</li>
                         <li>Candidates will perform Competitive Programing Individually. </li>
                         <li>Cheating and Voilating rules will end up disqualified</li>
                         <li>Fair and Healthy Competition is our main MOTTO.</li>
                         <li>Girls and other faculties candidates are given special priorites.</li>
                     </ol>
                     <h4 style="text-decoration: underline;">About static Web design :</h4>
                     <ol>
                        <li>Required knowledge of HTML, CSS and Javascript(optional).</li>
                        <li>Responsive Design and photoshop is a Bonus point.</li>
                        <li>Use of Internet is allowed along with some restrictions on sites.</li>
                        <li>Compition will be done in Controlled Environment.</li>
                        <li>All the necessary materials is mandatory for participants.</li>

                    </ol>
                    <h4 style="text-decoration: underline;">Competitive Programming :</h4>
                    <ol>
                       <li>Required knowledge of C and C++.</li>
                       <li>Required knowledge of Algorithms and Datastructure.</li>
                       <li>Candidates are also allowed to solve problems in other langauges.</li>
                       <li>Candidates will be given points according to series of questions they solves.</li>
                       <li>Questions difficulties are based on each rounds.</li>
                       
                       <li>Compition will be done in Controlled Environment.</li>
                       <li>All the necessary materials is mandatory for participants.</li>

                   </ol>
                   <h4 style="text-decoration: underline;">Our Facilites:</h4>
                    <ol>
                       <li>Free Internet services</li>
                       <li>Free Meals twice per day.</li>
                       <li>Unlimited Coffee/Tea during event session.</li>
                       <li>Free hackathon stickers.</li>
                       <li>Certificate for participating Hackathon  by Godawari College.</li>
                       

                   </ol>
            </div>
            <div class="card-footer text-center text-dark bg-transparent"><a href="/"><button class="btn btn-primary">Go Back</button></a></div>
            </div>
       
        

            <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>