<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Our Terms</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <style>
    *{
        text-align: justify;
    }
    </style>
</head>
<body>
    
            <div class="container pt-5  custom" >
               
                <div class="card"  style="align-items: center;">
                 <div class="card-header text-center text-dark bg-transparent"><p class="h3" style="text-decoration: underline ;font-weight: bold;">Our Terms:</p></div>
                 <div class="card-body bg-dark text-white">
                     <p>This hackathon is organised by CSIT batch 2074 Students with the help of our College, "Sushma Godawari". This is the Open Code challenge for all the IT Students to show their skills and gain some experience. 
                         Also any interested canidate from our college can apply on this hackathon. We'll give more priority to Girls and candidates from +2 and other faculties.
                         Please Join Us in this lovely effort so that we keep on organising such Programs to open a new platform for students of Our College.
                         Winner and other participants will get Certificates of Successful Hackathon Progam from <span style="background-color: cornsilk; color: black; font-weight: bold;">Sushma Godawari College.</span>
                        Date and Time will be Published later on official pages of Sushma Godawari through Social Media.
                     </p>
                     <h4 style="text-decoration: underline;">Here are some rules to Follow :</h4>
                     <ol>
                         <li>Candidates should be a student of Sushma Godawari College.</li>
                         <li>You will be disqualified for Multiple Registration.</li>
                         <li>Incase of Form Error or wrong data contact administration.</li>
                         <li>Winner is decided by Voting System.</li>
                         <li>Candidates can Join as a Group of maximum 4 members.</li>
                         <li>Candidates will perform Competitive Programing Individually. </li>
                         <li>Cheating and Voilating rules will end up disqualified</li>
                         <li>Fair and Healthy Competition is our main MOTTO.</li>
                     </ol>
                     <h4 style="text-decoration: underline;">About static Web design :</h4>
                     <ol>
                        <li>Required knowledge of HTML, CSS and Javascript.</li>
                        <li>Responsive Design is a Bonus point.</li>
                        <li>Use of Internet is not allowed.</li>
                        <li>Compition will be done in Controlled Environment.</li>
                        <li>All the necessary materials is mandatory for participants.</li>

                    </ol>
                    <h4 style="text-decoration: underline;">Competitive Programming :</h4>
                    <ol>
                       <li>Required knowledge of C and C++.</li>
                       <li>Required knowledge of Algorithms and Datastructure.</li>
                       <li>Candidates are also allowed to solve problems in other langauges.</li>
                       <li>Candidates will be given points according to series of questions they solves.</li>
                       <li>Questions difficulties are based on each rounds.</li>
                       <li>Use of Internet is not allowed.</li>
                       <li>Compition will be done in Controlled Environment.</li>
                       <li>All the necessary materials is mandatory for participants.</li>

                   </ol>
            </div>
            <div class="card-footer text-center text-dark"><a href="/"><button class="btn btn-primary">Go Back</button></a></div>
            </div>
            </div>
        <div style="align-items: center;">
        
    </div>

    
</body>
</html>