*{
    font-family: sans-serif;
    /* color: rgb(247, 231, 201); */
    color: rgb(0, 0, 0);
    background: #34ace0;
    
    
    font-size: 18px;
    /* font-weight: bold; */

}
::placeholder{
   color: rgb(0, 0, 0);
    /* color: rgb(247, 231, 201); */
}
.textbox{
border-bottom : 2px solid navy;
margin: 8px 0;
font-size: 20px;
overflow: hidden;
width: 100%;
}
.textbox i{
width: 10px;
float: left;
text-align: center;
padding: 2px;
padding-right: 20px;
}
.textbox input{
border: none;
background: none;
outline: none;

font-size: 18px;
width: 80%;
float: left;
margin: 0 10px;
}
.textbox select{
border: none;
background: none;
outline: none;

font-family: sans-serif;
font-size: 18px;
width: 80%;
float: left;
margin: 0 10px;
}
.textbox textarea{
border: none;
background: none;
outline: none;

font-size: 18px;
width: 80%;
float: left;
margin: 0 10px;
}
.btn2{
    width: 100%;
    background: none;
    border: 2px solid navy;
    border-radius: 10px;
    /* color:rgb(9; */
    padding:5px;
    cursor: pointer;
    font-size: 18px;
    margin: 12px 0;
    }
.btn2:hover{
    color:#08fa10 ;
    border: 2px solid #08fa10;

}
.radio1{
width: 18px;
height: 18px;

}

.ms{
    display: inline-block;
    width:35px;
    height: 35px;
   
    color:#3498db;
    overflow: hidden;
    
}
.ms i{

    font-size: 35px;
    transition: 0.2s linear;

}
.arrange{
    margin-top: 30px;
    margin-bottom: 0px;
    align-self: auto;
    align-items: baseline;
}
.mk{
    margin-bottom: 2px;
    padding-bottom: 1px;
     border-radius: 10px; 
     border : 2px solid navy;
     background: transparent;
}

@media (min-width: 600px){
    .pg{
        margin-left: 350px;
        margin-right:350px ;
        
       
    }
}
.pg{
    background: #34ace0;
    border: 2px solid navy;
    border-radius: 10px;
    /* font-weight: bold; */
}
.link{
    color: black;
    cursor: pointer; 
    
    margin-right: 25px;
}
.link:hover{
    color: white;
}